.DS_Store
*.pyc
*.gcov
*.gcda
*.gcno
*.app
*.o
*.obj
*.a
*.pdb
*.swp
*.nib
*.exe
*.dll
*.lib
*.exp
*.ilk
*.res
*.moc
*~
*.manifest
moc_*
qrc_*
ui_*
config.py
checker
config.log
.sconf_temp
.sconsign.dblite
Swiften/Examples/TuneBot/TuneBot
Swiften/QA/ClientTest/ClientTest
Swift/QtUI/swift
Swift/QtUI/DefaultTheme.qrc
