[submodule "3rdParty/CppUnit"]
	path = 3rdParty/CppUnit
	url = swift@swift.im:git/cppunit-module.git
[submodule "3rdParty/ZLib"]
	path = 3rdParty/ZLib
	url = swift@swift.im:git/zlib-module.git
[submodule "3rdParty/Boost"]
	path = 3rdParty/Boost
	url = swift@swift.im:git/boost-module.git
[submodule "3rdParty/CAres"]
	path = 3rdParty/CAres
	url = swift@swift.im:git/cares-module.git
[submodule "3rdParty/SQLite"]
	path = 3rdParty/SQLite
	url = swift@swift.im:git/sqlite-module.git
[submodule "Slimber"]
	path = Slimber
	url = swift@swift.im:git/slimber-module.git
[submodule "3rdParty/Expat"]
	path = 3rdParty/Expat
	url = swift@swift.im:git/expat-module.git
[submodule "3rdParty/LibIDN"]
	path = 3rdParty/LibIDN
	url = swift@swift.im:git/libidn-module.git
[submodule "3rdParty/SCons"]
	path = 3rdParty/SCons
	url = swift@swift.im:git/scons-module.git
[submodule "3rdParty/LCov"]
	path = 3rdParty/LCov
	url = swift@swift.im:git/lcov-module.git
[submodule "BuildTools"]
	path = BuildTools
	url = swift@swift.im:git/buildtools-module.git
[submodule "Swiften"]
	path = Swiften
	url = swift@swift.im:git/swiften-module.git
