.DS_Store
*.pyc
*.sloccount
*.gcov
*.suo
*.gcda
*.gcno
*.app
*.o
*.os
*.obj
*.a
*.so
*.pdb
*.swp
*.pch
*.nib
*.exe
*.syms
*.dll
*.lib
*.exp
*.ilk
*.res
*.moc
*.patch
*.dSYM
*.ld_*
.gdb_history
.clang_complete
*~
_CL_*
*.manifest
moc_*
qrc_*
ui_*
config.py
/QA/Checker/checker
/.ninja_deps
/.ninja_log
/build.ninja
config.log
.sconf_temp
.sconsign.dblite
.scons2ninja.deps
Swiften/Examples/TuneBot/TuneBot
Swift/QtUI/swift-im
Swift/QtUI/swift
Swift/QtUI/COPYING
Swift/QtUI/DefaultTheme.qrc
*-report.cppunit.xml
*-report.gtest.xml
/VERSION.*
cppcheck.log
/build
/generator
/tmp
/.settings/
/include/
/nbproject/private/
3rdParty/LibMiniUPnPc/src/miniupnpc/miniupnpcstrings.h
*.sublime-workspace
/xmppbench
/.metadata
/Swift/Packaging/WiX/*.msi
/Swift/Packaging/WiX/*.wixpdb
/Swift/Packaging/WiX/*.wixobj
/Swift/Packaging/WiX/gen_files.wxs
/Swift/Packaging/WiX/variables.wxs
/Packages
cscope.sh
cscope.out
cscope.files
ctags.sh
compile_commands.json

# Ignore some of the Visual Studio files
/Debug/
/Release/
*.VC.db
*.VC.VC.opendb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
