.DS_Store
*.dep
*.gcda
*.gcno
*.app
*.o
*.a
*.swp
*.exe
*.dll
*.moc
*~
*.manifest
moc_*
qrc_*
ui_*
checker
aclocal.m4
autom4te.cache
config.log
config.status
configure
Makefile.config
Swiften/Examples/TuneBot/TuneBot
Swiften/QA/ClientTest/ClientTest
Swiften/config.h
Swiften/config.h.in
UI/Qt/Makefile
UI/Qt/swift
UI/Qt/DefaultTheme.qrc
UI/Qt/*/Makefile
UI/Qt/Swiften.pri
tools/coverage/results
