Source: swift
Section: x11
Priority: optional
Maintainer: Remko Tronçon <dev@el-tramo.be>
Build-Depends: debhelper (>= 7), scons (>= 1.2.0), libssl-dev (>= 0.9.8k), libqt4-dev (>= 4.5.3), libexpat1-dev (>= 2.0.1), lintian (>= 2.3.4), libxss-dev (>= 1.2.0), libboost-dev (>= 1.40.0), libboost-filesystem-dev (>= 1.40.0), libboost-program-options-dev (>= 1.40.0), libboost-regex-dev (>= 1.40.0), libboost-signals-dev (>= 1.40.0), libboost-system-dev (>= 1.40.0), libboost-thread-dev (>= 1.40.0)
Standards-Version: 3.8.4
Homepage: http://swift.im

Package: swift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XMPP Client.
	The Swift IM client.
