[Desktop Entry]

# Desktop Entry specification version
Version=1.0

Type=Application
Name=Swift
GenericName=Jabber/XMPP Messenger
Comment=Communicate over the Jabber/XMPP network
Icon=swift
Exec=swift
Terminal=false
Categories=Network;InstantMessaging;Qt;

GenericName[nl]=Jabber/XMPP Boodschapper
Comment[nl]=Communiceer over het Jabber/XMPP netwerk

GenericName[ru]=Jabber-клиент
Comment[ru]=Общение в сети Jabber

GenericName[ca]=Missatger Jabber/XMPP
Comment[ca]=Comunica't per la xarxa Jabber/XMPP

GenericName[es]=Cliente de mensajería Jabber/XMPP
Comment[es]=Comunícate por la red Jabber/XMPP
