Source: swift
Section: x11
Priority: optional
Maintainer: Remko Tronçon <dev@el-tramo.be>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://swift.im

Package: swift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XMPP Client.
	The Swift IM client.
