/* Chat Window Container */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* This turns the insert marker element into a vertical fill.
 * This way the colored side bar is expanded to the full height of the view. */
#insert {
    display: table-row;
    height: 100%;
}

.container {
    height: 100%;
    width:  100%;
    background-color: #fff;
    /*border: solid 1px #595959; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    /*margin-left: 20%; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    /*margin-top: 75px; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    position: absolute;
  display: table;
}
/* Holds all user and message content */

.message-block {
    display: table;
    border: 0px solid black;
    border-spacing: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-wrap: break-word; /* Allow breaking of long words (e.g. URLs) to prevent overflow. */
    /*margin-top: -2px; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
}

/* Individual message */

.message {
    display: table-row;
    border: inherit;
    width: 100%;
    margin-top: 10px;
    border-top: 0.2em solid transparent;
}

.additional {
    margin-top: -12px;
}

.unread {
    height: 30px;
    display: table-row;
    border: inherit;
    /*width: 100%;*/
    margin-top: -6px;
    margin-bottom: -15px;
    margin-left: 190px;
    margin-right: 20px;
    text-align: right;
}

.unread p {
    margin-top: 0px;
    font-size: 75%;
    text-transform: uppercase;
    color: #ffd180;
    border-top: solid 1px #ffd180;
    margin-left: 20px;
    margin-right: 20px;;
}

/* Left column content */

:not(.additional) > .user {
    height: 32px;
}

.user {
    display: table-cell;
    border: inherit;
    text-align: center;
    margin-top: 2px;
    width: 175px;
    max-width: 175px;
    min-width: 175px;
    background-color: #595959;
}

.time {
    height: 32px;
    width: 103px;
    float: left;
    text-align: right;
}

.time p {
    margin-top: 3px;
    margin-bottom: 1px;
    margin-right: 10px;
    color: #f9f9f9;
    font-size: 10px;
    font-weight: 300;
}

.time-additional {
    width: 103px;
    float: left;
    text-align: right;
}

.time-additional p {
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    color: #f9f9f9;
    font-size: 10px;
    font-weight: 300;
}

.time img {
    margin-right: 10px;
    height: 10px;
}

.time-additional img {
    margin-right: 10px;
    height: 10px;
}

.myavatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #92c47e;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.otheravatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #6eb6ce;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.myavatar img {
    border-radius: 50%;
    height: 32px;
    position: relative;
    left: -1px;
}

.otheravatar img {
    border-radius: 50%;
    height: 32px;
    position: relative;
    left: -1px;
}

.myright {
    float:right;
    width:40px;
    height: 32px;
    background: #92c47e;
}

.otherright {
    float:right;
    width:40px;
    height: 32px;
    background: #6eb6ce;
}

:not(.additional) > div > .systemavatar {
    height: 32px;
}

.systemavatar {
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #595959;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

:not(.additional) > div > .systemright {
    height: 32px;
}

.systemright {
    float:right;
    width: 40px;
    background: #595959;
}

/* Right column content */
.message:not(.additional) {
    border-top: 1.2em solid transparent; /* Workaround for table rows not having a padding. */
}

.message:not(.additional) .text {
    min-height: 32px;
}

.text {
    display: table-cell;
    border: inherit;
    margin-left: 175px;
    font-size: 14px;
    color: #595959;
    vertical-align: top;
}

.text a {
    word-break: break-all; /* Break long URLs at any point. */
}

.username {
    margin-left: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0.2em;
}

.myusername {
    color: #92c47e;
}

.otherusername {
    color: #6eb6ce;
}

.message-content {
    margin-left: 20px;
    margin-right: 20px;
}

.system-message {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #aaa;
    font-style: italic;
}
