/* Chat Window Container */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width:  100%;
    background-color: #fff;
    /*border: solid 1px #595959; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    /*margin-left: 20%; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    /*margin-top: 75px; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
    position: absolute;
}

/* Left side colour block*/

.colour-block {
    /* This is needed so the grey sidebar stays fixed relative to the view and not the page when scrolling. */
    /* This also seems to have noticible negative performance side-effects when scrolling. */
    position: fixed;
    height: 100%;
    width: 175px;
    background-color: #595959;
}

/* Holds all user and message content */

.message-block {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    overflow-wrap: break-word; /* Allow breaking of long words (e.g. URLs) to prevent overflow. */
    /*margin-top: -2px; /* REMOVE THIS LINE. FOR DISPLAY PURPOSE ONLY. */
}

/* Individual message */

.message {
    width: 100%;
    margin-top: 10px;
}

.additional {
    margin-top: -14px;
}

.unread {
    height: 15px;
    border-top: solid 1px #ffd180;
    margin-top: -6px;
    margin-bottom: -15px;
    margin-left: 190px;
    margin-right: 20px;
    text-align: right;
}

.unread p {
    margin-top: 0px;
    font-size: 75%;
    text-transform: uppercase;
    color: #ffd180;
    /* color: #ffd180; */
}

/* Left column content */

.user {
    height: 32px;
    width: 175px;
    text-align: center;
    float: left;
    margin-top: 2px;
}

.time {
    height: 32px;
    width: 103px;
    float: left;
    text-align: right;
}

.time p {
    margin-top: 3px;
    margin-bottom: 1px;
    margin-right: 10px;
    color: #f9f9f9;
    font-size: 10px;
    font-weight: 300;
}

.time-additional {
    height: 32px;
    width: 103px;
    float: left;
    text-align: right;
}

.time-additional p {
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    color: #f9f9f9;
    font-size: 10px;
    font-weight: 300;
}

.time img {
    margin-right: 10px;
    height: 10px;
}

.time-additional img {
    margin-right: 10px;
    height: 10px;
}

.myavatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #92c47e;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.otheravatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #6eb6ce;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.myavatar img {
    border-radius: 50%;
    height: 32px;
}

.otheravatar img {
    border-radius: 50%;
    height: 32px;
    margin-left: -1px;
}

.myright {
    float:right;
    width:40px;
    height: 32px;
    background: #92c47e;
}

.otherright {
    float:right;
    width:40px;
    height: 32px;
    background: #6eb6ce;
}

.systemavatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:0 auto;
    background-color: #595959;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.systemright {
    float:right;
    width:40px;
    height: 32px;
    background: #595959;
}

/* Right column content */

.text {
    min-height: 32px;
    margin-left: 175px;
    font-size: 14px;
    color: #595959;
}

.myusername {
    color: #92c47e;
    margin-left: 20px;
    font-weight: 700;
}

.otherusername {
    color: #6eb6ce;
    margin-left: 20px;
    font-weight: 700;
}

.message-content {
    margin-left: 20px;
    margin-top: -11px;
    margin-right: 20px;
    margin-bottom: 18px;
}

.system-message {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;
    color: #aaa;
    font-style: italic;
}
